div.recommendation-view {
	display: flex;

	&.mobile-recommendation {
		flex-direction: column;
	}

	&.desktop-recommendation {
		flex-direction: row;
	}
}

button.save-rec-btn {
	color: var(--text-on-accent);
	background-color: var(--interactive-accent);
}

img.cover-art {
	border: var(--border-width) solid var(--background-secondary);
	border-radius: 5px;
	margin: 5px;

	&.desktop-image {
		width: 30%;
	}

	&.mobile-image {
		width: 100%;
	}
}

p.artist-name {
	margin-top: 3px;
	text-decoration: underline;
}