div.recommendation-view {
	display: flex;
}

button.save-rec-btn {
	color: var(--text-on-accent);
	background-color: var(--interactive-accent);
}

img.cover-art {
	border: var(--border-width) solid var(--background-secondary);
	border-radius: 5px;
	width: 30%;
	margin: 5px;
}

p.artist-name {
	margin-top: 3px;
	text-decoration: underline;
}
